.fixed {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.highscores {
    font-size: 20px;
    cursor: pointer;
}

.highscores:hover {
    color: rgb(188, 8, 237);
}

.timer {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.start-page {
    background-color: antiquewhite;
    text-align: center;
    padding: 5% 10%;
    margin: 0 10%;
}

p {
    font-size: 18px;
}

#start-btn {
    font-size: 20px;
    background-color: rgb(148, 6, 187);
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
   
}

#start-btn:hover,  #answer-btn:hover{
    background-color: rgb(188, 8, 237);
}

.questions {
    background-color: antiquewhite;
    text-align: center;
    padding: 5% 10%;
    margin: 0 10%;
    background-color: antiquewhite;
    text-align: center;
    padding: 5% 10%;
    margin: 0 10%;
    display: none;
}


#answers {
    display: block;
}

#answer-btn {
    display: block;
    font-size: 20px;
    background-color: rgb(148, 6, 187);
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 50px;
}